<!DOCTYPE html>
{% extends 'yishi/base.html' %}
{% load static %}

{% block css_style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/wordType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imageType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/inputType.css">
{% endblock %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1 class="logo">Thank you for using Yishi !</h1>
        <p> Hi, I'm Chuyan. I am very honoured that you would like to use this site. </P>
        <div>
            Any advice: <br/>
            <a href="{% url 'yishi:advice' %}">Advice</a>
        </div>
        <div>
            {% comment %} <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of Cat" /> {% endcomment %}
        </div>
{% endblock %}