<!DOCTYPE html>
{% extends 'yishi/base.html' %}
{% load static %}

{% block css_style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/wordType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imageType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/inputType.css">
{% endblock %}

{% block title_block %}
    Advice
{% endblock %}

{% block body_block %}

    <h1 class="logo" >Post you advice:</h1>
    <div style="text-align: center;">
        <form id="advice_form" method="post" action="/yishi/advice/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ advice_form.as_p }}
            <button class="inputWord allTheB" type="submit" name="submit" value="Add">Submit</button>
        </form>
    </div>
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
    
{% endblock %}