{% extends 'yishi/base.html' %}
{% load static %}

{% block css_style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/wordType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imageType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/inputType.css">
{% endblock %}

{% block title_block %}
    Buy Together
{% endblock %}

{% block body_block %}
    <form id="product_form" method="POST" action="/yishi/buyTogether/" name="KeyWord">
        {% csrf_token %}
        <input class="indexSelect inputWord" type="search" name="KeyWord" placeholder=" Postcode, name of the supermarket, etc."> 
        <button class="inputWord allTheB" type="submit" name="Search">Go !</button>
    </form>

    <label class="inputWordSmall" for="id_Pname">Didn't find it? Add by yourself →</label>
    <a class="addNew inputWord" href="/yishi/add_BuyInfo/">Post Order Information</a> <br/>

<div class="container" style="margin-top: 5%;">
    <div class="row mt-2 ">
        {% for bi in BuyInfos %}
        <!-- search result -->
        <div class="col-4 mb-4 ">
        <!-- card -->
            <div class="card h-100 result1">
                <!-- Product name -->
                <h4 class="card-header result2">{{ bi.supermarket }}</h4>
                <!-- star_rating -->
                <h4 class="card-header result2">{{ bi.postcode }}</h4>
                <!-- description -->
                <div class="card-body result2">
                    <p class="card-text">{{ bi.time }}...</p>
                </div>
                <!-- more detail -->
                <div class="card-footer result2">
                    <a class="addNew inputWord" href="{% url 'yishi:detailBI' bi.id %}" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </div>
        {% empty %}
            <div>
                <label class="helptext inputWordSmall">Didn't find what you were looking for?<label><br>
                <label class="helptext inputWordSmall">Post the order information by yourself or check the spelling...<label>
            </div>
        {% endfor %}

        {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}