{% extends 'yishi/base.html' %}
{% load static %}

{% block css_style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/wordType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imageType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/inputType.css">
{% endblock %}

{% block title_block %}
    Buy Together
{% endblock %}

{% block body_block %}
    <p> lalalala </p>
    <form>
        <input class="indexSelect inputWord" type="search" name="ProductName" placeholder="Search for product name, rice, milk, etc."> 
        <button class="inputWord allTheB" type="submit" name="Search">Go !</button>
    </form>
{% endblock %}