<!DOCTYPE html>
{% extends 'yishi/base.html' %}
{% load static %}

{% block title_block %}
    Detail of Order Information
{% endblock %}

{% block body_block %}
    <!-- detail of product -->
    <div class="container">
        <div class="row" style="margin-top: 10% ;">
            <!-- Pname and other information -->
            <br/><br/><br/>
            <div>
                <p class="detail" >Supermarket: {{ BuyInfo.supermarket }} </p> <br/>
                <p class="detail" >Position：{{ BuyInfo.position }} </p> <br/> 
                <p class="detail" >Time：{{ BuyInfo.time }} </p> <br/>
                <p class="detail" >Postcode: {{ BuyInfo.postcode }} </p><br/>
                {% if tag %}
                    <p class="detail" > description: {{ BuyInfo.describsion }}</p>
                {% else %}
                    <p class="detail" > Post a comment to get more information.... </p>
                {% endif %}
            </div>
            <br/>
        </div>
    </div>

    <hr class="green">
    <div class="container">
        <form action="{% url 'yishi:post_commentB' BuyInfo.id %}" method="POST" >
            {% csrf_token %}
            <p class="typeface"> Conmment: </p>
            <textarea class="addP" type="text" id="content" name="content" rows="2"></textarea>
            <br/>
            <button class="allTheB" type="submit" name="addCommentP">Submit</button>
        </form>
    </div>

    <hr class="green">
    <h4 class="typeface" style="margin-left: 10%;"> {{ n }} comments in total: </h4>
    {% if comments %}
    <div >
        {% for comment in comments %}
            <p class="comment">
                {{ comment.user.username }} at {{ comment.date|date:"Y-m-d H:i:s" }} ：
            </p>
            <pre class="comment"> {{ comment.content }} </pre>
            <hr class="green">
        {% endfor %}
    </div>
    {% else %}
        <p> No comment ...</p>
    {% endif %}

{% endblock %}