{% load static %}

<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- 导航栏商标 -->
    <a class="yishiHeader" href="{% url 'yishi:index' %}">Yishi</a>
    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- item -->
        <li><a class="base" href="{% url 'yishi:index' %}">Search</a></li>
        {% if user.is_authenticated %}
          <li><a class="base" href="#">Buy together</a></li>
          <li><a class="base" href="#">Profile</a></li>
          <li><a class="base" href="{% url 'yishi:logout' %}">Logout</a></li>
        {% else %}
          <li><a class="base" href="{% url 'yishi:login' %}">Login</a></li>
          <li><a class="base" href="{% url 'yishi:register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
