{% extends 'yishi/base.html' %}
{% load static %}

{% block css_style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/wordType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imageType.css">
    <link rel="stylesheet" type="text/css" href="/static/css/inputType.css">
{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1 class="logo">Login to Yishi</h1>

    <div style="text-align: center;">
    <form id="login_form" method="POST" action="{% url 'yishi:login' %}">
        {% csrf_token %}
        <p><label class="inputWordBigger">Username: </label></p>
        <input class="inputWord addP" type="text" name="username" value="" size="50" />
        <br/>
        <p><label class="inputWordBigger">Password: </label></p>
        <input class="inputWord addP" type="password" name="password" value="" size="128" />
        <br/>
        <button class="allTheB" type="submit" value="submit">Login</button>
    </form>
    <label class="inputWordSmall"> Don't have account? </label>
    <a href="{% url 'yishi:register' %}">Join Us!</a>
    </div>
{% endblock %} 