{% extends 'yishi/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1> Register for yishi </h1>
    {% if registered %}
        <strong>Thank you for registering! </strong>
        <a href="{% url 'yishi:index' %}">Return to Search.</a><br/>
    {% else %}
        <form id="user_form" method="POST" action="{% url 'yishi:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}