a.base:link,a.base:visited {
    font-family:"Comic Sans MS", cursive, sans-serif;
    margin-right: 10px;
    text-decoration:none;
    color:aliceblue;
} 

a.base:hover {
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-decoration:underline;
    font-size:150%;
    color:#3df59f;
} 

a.base:active {
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-decoration:underline;
    color:#a4ff80;
} 