/* select */
select.indexSelect {
    margin-top: 5%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1ex;
    border-color:  #4CAF50;
    height: 8ex;
}

/* input  */
input.indexSelect {
    margin-top: 5%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1ex;
    border-color:  #4CAF50;
    height: 8ex;
    width: 80ex;
}

button.allTheB {
    margin-left: 1ex;
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    width: 12ex;
    height: 8ex;
    display: inline-block;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
}