a.base:link,a.base:visited {
    font-family: 'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    font-size:120%;
    margin-right: 10px;
    text-decoration:none;
    color:aliceblue;
} 

a.base:hover {
    font-family: 'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    text-decoration:underline;
    font-size:150%;
    color:#3df59f;
} 

a.base:active {
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    font-size:120%;
    text-decoration: underline;
    color:#a4ff80;
}

a.yishiHeader:link,a.yishiHeader:visited,a.yishiHeader:hover,a.yishiHeader:active{
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 200%;
}

a.addNew:link,a.addNew:visited,a.addNew:hover,a.addNew:active{
    text-decoration: none;
    float: right;
    color: white;
    background-color: #4CAF50;
    border-style: none;
    border-radius: 8px;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 1ex;
}

h1.logo {
    margin-top: 2%;
    font-size: 400%;
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    color: black;
    text-align: center;
}

.inputWord {
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    text-align: center;
}

.inputWordBigger {
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
    text-align: center;
}

.inputWordSmall {
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    text-align: center;
}

div.result1 {
    font-family:'Dancing Script', cursive, "Comic Sans MS", cursive, sans-serif;
    border-style: solid;
    border-radius: 8px;
    border-width: 1ex;
    border-color:  #4CAF50;
}

.result2 {
    border-style: solid;
    border-width: 3px;
    border-color:  #4CAF50;
}